@import '../styles/Color.scss';
@import '../styles/Mixin.scss';

.reviews {
  .reviews__create-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}

.reviews__create-button {
  @include button;
  @include text-big;

  height: 50px;
  width: 50px;

  border-radius: 50%;
  padding: 0px;

  background-color: $background-light;
}
