@import './Color.scss';

@mixin text-base {
  color: $text-primary;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

@mixin header {
  @include text-base;
  font-size: 45px;
}

@mixin text {
  @include text-base;
  font-size: 20px;
}

@mixin text-big {
  @include text-base;
  font-size: 40px;
}

@mixin button {
  border: none;
  outline: none;
  background: none;

  cursor: pointer;
}

@mixin scroll {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    border: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #363636;
  }
}

@mixin flex-row($gap: 0px) {
  display: flex;
  flex-direction: row;
  column-gap: $gap;
}

@mixin flex-column($gap: 0px) {
  display: flex;
  flex-direction: column;
  row-gap: $gap;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
