@import '../styles/Mixin.scss';

.card-container {
  border-bottom: 1px solid #363636;
  margin-bottom: 5px;
  padding-left: 10px;
}

.card-container__root {
  position: relative;

  .card-container__backward-button {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  }

  .card-container__forward-button {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
  }
}

.card-container__nav-button {
  height: 100%;
  background: none;
  border: none;
  outline: none;

  cursor: pointer;
  font-size: 50px;
  color: white;
}

.card-container__expand-button {
  @include text;

  border: none;
  outline: none;
  background: none;
}

.card-container__header {
  @include header;
  display: inline-block;
}

.card-container__cards {
  display: flex;
  list-style: none;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    border: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #363636;
  }
}

.card-container__cards_isexpand {
  flex-wrap: wrap;
}
