.popup__overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  background-color: rgb(255, 255, 255, 0.5);
}

.popup__content {
  position: fixed;
  top: 10%;
  left: 10%;

  height: 60%;
  width: 60%;
  background-color: white;
  z-index: 999;
  border: 1px inherit black;
}
