.card-container {
}

.card-container__cards {
  display: flex;
  list-style: none;
  overflow-x: scroll;
}

.card-container__cards_isexpand {
  flex-wrap: wrap;
}

.card-container__cards::-webkit-scrollbar {
  width: 1em;
}

.card-container__cards::-webkit-scrollbar-track {
  border: 0px;
}

.card-container__cards::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
