@import '../styles/Mixin.scss';

.review-form {
  height: 100%;
  display: grid;

  grid-template-rows: 5% 5% auto 5% max-content;
  grid-template-columns: max-content auto;
  column-gap: 10px;
  row-gap: 10px;
}

.review-form__label {
  @include text;
}

.review-form__input {
  @include text;

  background-color: #363636;

  border: 1px solid #000000;
  border-radius: 5px;
}

.review-form__button {
  @include text;

  border: none;
  border-radius: 5px;
  padding: 5px;

  background-color: #363636;

  cursor: pointer;
}

.review-form_buttons-area {
  grid-column: 2;

  display: flex;
  flex-direction: row;
  column-gap: 20px;

  border-top: 1px solid #363636;
  padding-top: 10px;
}
